<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crypto Chains - Launch your Crypto Tokens today</title>

    <link rel="shortcut icon" href="images/icons/favicon.ico?v4"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">

    <!-- Bootstrap & Styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/block_grid_bootstrap.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/jquery.circliful.css" rel="stylesheet"/>
    <link href="css/slicknav.css" rel="stylesheet"/>
    <link href="css/video-popup.css" rel="stylesheet"/>
    <link href="css/responsive.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>

<!-- Top MiniBar-->
<section class="topminibar">
    <div class="row">
        <div class="container">
            <div class="col-sm-12 col-md-6 col-xs-12">
                <ul class="list-inline">
                    <li><a data-toggle="modal" data-target="#askAQuestionModal" href="#"><i
                                    class="fa fa-envelope"></i><span> Ask a Question?</span></a></li>
                    <li><a href="#"><i class="fa fa-book"></i><span> Knowledge Base</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of Top MiniBar-->

<!-- Top Bar-->
<div class="top">
    <div class="row">
        <div class="container">
            <div class="col-sm-3">
                <div class="logo">
                    <a href="index.html"><img alt="" src="images/logo.png"></a>
                </div>
            </div>
            <div class="col-sm-9">
                <ul class="nav nav-pills pull-right">
                    <li><a href="login.html">Login</a></li>
                    <li class="cart-link"><a href="https://testchains.cryptochains.in"><i aria-hidden="true"
                                                                                          class="fa fa-rocket"></i>Launch
                            Now</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End of Top Bar-->

<!-- Main Menu -->
<div class="main_menu">
    <div class="row">
        <div class="container">
            <div class="col-sm-8">
                <nav id="desktop-menu">
                    <ul class="sf-menu" id="navigation">
                        <li class="current"><a href="#">Home</a></li>
                        <li><a href="https://blog.cryptochains.in">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End of Main Menu -->

<!-- Slider -->
<div class="slidercontainer">
    <div id="mainslider" class="owl-carousel">

        <div class="item">
            <div class="row full-width no-gutter section_sapce bg_primary cover-image2"
                 data-image-src="images/bg1-green.png">
                <div class="container">
                    <div class="col-sm-12 col-md-6 custom-info4-column radius">
                        <div class="thequote">
                            <h5 class="text_dark">Create your Crypto Token today</h5>
                            <p class="text_dark">Crypto Chains aims to make the powerful crypto and smart contract
                                technology behind blockchain implementations like Bitcoins, Ethereum and Litecoins more
                                accessible and easy to use.</p>
                            <a href="https://testchains.cryptochains.in" class="btn btn-lg btn-new">Launch Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Slider -->

<!--  Features -->
<section class="section_sapce">
    <div class="row">
        <div class="container">
            <div class="section-title margin-b30">
                <h2><span>Welcome to The Future</span> Why Choose Crypto Chains ?</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-lg-4 margin-t30">
                <div class="text-center">
                    <i class="fa fa-percent fa-3x text_primary square-border-icon"></i>
                    <h3>Discount Guarantee!</h3>
                    <p>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti.</p>
                </div>
            </div>
            <div class="col-lg-4 margin-t30">
                <div class="text-center">
                    <i class="fa fa-phone fa-3x text_primary square-border-icon"></i>
                    <h3>24/7 Technical Support</h3>
                    <p>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti.</p>
                </div>
            </div>
            <div class="col-lg-4 margin-t30">
                <div class="text-center">
                    <i class="fa fa-check fa-3x text_primary square-border-icon"></i>
                    <h3>Best Pricing</h3>
                    <p>Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                        deleniti atque corrupti.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Features -->

<!--  Subscribe -->
<section class="subscribe section_sapce2 bg_dark cover-image" data-image-src="images/subbanners/2.jpg">
    <div class="row">
        <div class="container col-sm-12 col-xs-12 col-md-8 center-block text-center">
            <div class="col-sm-12 margin-bottom-15">
                <h1>Newsletter</h1>
                <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
            </div>
            <div class="col-sm-12">
                <div id="mc_embed_signup">
                    <form class="form-inline validate"
                          action="//sreethemes.us9.list-manage.com/subscribe/post?u=f86de306ae229d9cca9373ff6&id=44e7c219bf"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          target="_blank" novalidate>
                        <div class="row no-gutter">
                            <div class="col-sm-8 center-block margin-bottom-15">
                                <input type="email" value="" name="EMAIL" class="form-control text-center"
                                       id="mce-EMAIL" placeholder="Subscribe to our newsletter" required>
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_f86de306ae229d9cca9373ff6_44e7c219bf" tabindex="-1"
                                           value="">
                                </div>
                            </div>
                            <div class="col-sm-3 center-block">
                                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  End of Subscribe -->

<!--Extra Info -->
<section class="section_sapce bg_gray">
    <div class="container">
        <div class="section-title  margin-b50">
            <h2><span>We offer</span>What's Free offer</h2>
        </div>

        <div class="row main-head">
            <div class="col-md-12 margin-b50">
                <p>The scope of web hosting services varies greatly. The most basic is web page and small-scale file
                    hosting, where files can be uploaded via File Transfer Protocol or a Web interface. The files are
                    usually delivered to the Web "as is" or with minimal processing. Personal web site hosting is
                    typically free, advertisement-sponsored, or inexpensive is typically free, advertisement-sponsored,
                    or inexpensive. </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-shield fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>Domain Theft Protection</h3> Lorem ipsum dolor sit amet, consetetur sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-paper-plane fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>Domain Forwarding</h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-gears fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>DNS Management</h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-globe fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>Free Domain Registration</h3> Lorem ipsum dolor sit amet, consetetur sadipscing
                                elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-envelope-open fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>Email Accounts</h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                                diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="margin-b30">
                    <div class="col-sm-12">
                        <div class="left_icons">
                            <div class="single_box_left">
                                <i class="feature-icon">
                                    <i class="fa fa-clock-o fa-2x text_primary"></i>
                                </i>
                            </div>
                            <div class="single_box_right">
                                <h3>99% Uptime</h3> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                                nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="pop-video-container margin-t30">
                    <!--Youtube Video Link-->
                    <a class="autoplay" href="https://www.youtube.com/watch?v=RSbOZUfiGqg"><i class="fa fa-play fa-3x"
                                                                                              aria-hidden="true"></i></a>

                    <!--Vimeo Video Link-->
                    <!--<a class="autoplay" href="https://vimeo.com/35044232"><i class="fa fa-play fa-3x" aria-hidden="true"></i></a>-->
                    <img src="images/play-video.png" alt="" class="macbook">
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Extra Info -->

<!--  Subscribe -->
<div class="subscribe section_sapce4 bg_dark">
    <div class="row">
        <div class="container">
            <div class="col-sm-12 col-md-6">
                <div id="mc_embed_signup">
                    <form class="form-inline validate"
                          action="//sreethemes.us9.list-manage.com/subscribe/post?u=f86de306ae229d9cca9373ff6&id=44e7c219bf"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                          target="_blank" novalidate>
                        <div class="row no-gutter">
                            <div class="col-sm-9">
                                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL"
                                       placeholder="Subscribe to our newsletter" required>
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_f86de306ae229d9cca9373ff6_44e7c219bf" tabindex="-1"
                                           value="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Newsletter</h3>
                <p>Lorem Ipsum is simply dummy text of the printing industry.</p>
            </div>
        </div>
    </div>
</div>
<!--  End of Subscribe -->

<!--  Footer -->
<footer class="footer">
    <div class="row section_sapce3 main-footer">
        <div class="container">
            <div class="col-sm-2">
                <h4>Choose.</h4>
                <ul>
                    <li><a href="">Shared Hosting</a></li>
                    <li><a href="">Reseller Hosting</a></li>
                    <li><a href="">Cloud Managed VPS</a></li>
                    <li><a href="">Managed Dedicated Servers</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Get Support.</h4>
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Knowledge Base</a></li>
                    <li><a href="">Submit a Ticket</a></li>
                    <li><a href="">Email</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Start.</h4>
                <ul>
                    <li><a href="">WordPress Hosting</a></li>
                    <li><a href="">Joomla Hosting</a></li>
                    <li><a href="">Magento Hosting</a></li>
                    <li><a href="">Drupal Hosting</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Resources</h4>
                <ul>
                    <li><a href="">Webmail</a></li>
                    <li><a href="">WHOIS Search</a></li>
                    <li><a href="">ICANN Confirmation</a></li>
                    <li><a href="">Site Map</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>Shopping</h4>
                <ul>
                    <li><a href="">Product Catalog</a></li>
                    <li><a href="">Find a Domain</a></li>
                    <li><a href="">Reseller Programs</a></li>
                    <li><a href="">Create Account</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h4>About Us</h4>
                <ul>
                    <li><a href="">About TheHost</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Awards</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bg_white copyright">
        <div class="container">
            <div class=" padding-t30 clearfix">
                <div class="col-sm-6">
                    <h4>Follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
                <div class="col-sm-6 text-right">
                    <h4>Payment Modes</h4>
                    <ul class="list-inline payment-icons">
                        <li><i class="fa fa-cc-mastercard fa-3x"></i></li>
                        <li><i class="fa fa-cc-visa fa-3x"></i></li>
                        <li><i class="fa fa-cc-amex fa-3x"></i></li>
                        <li><i class="fa fa-cc-discover fa-3x"></i></li>
                        <li><i class="fa fa-cc-paypal fa-3x"></i></li>
                        <li><i class="fa fa-google-wallet fa-3x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright text-center">Copyright © 2017 - 2018 Crypto Chains. All Rights Reserved</p>
    </div>
</footer>
<!--  End of Footer -->

<!--  Back to Top -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<!-- Contact Modal -->
<div class="modal fade" id="askAQuestionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                <h3 class="modal-title" id="lineModalLabel">We are here to help!</h3>
            </div>
            <div class="modal-body">
                <form id="askAQuestionForm" data-toggle="validator">
                    <div class="form-group">
                        <label for="askAQuestionFormEmail">Email address</label>
                        <input id="askAQuestionFormEmail" name="email" type="email" class="form-control" placeholder="Please enter your email" required="required" data-error="Email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label for="askAQuestionFormQ">Your Question</label>
                        <textarea id="askAQuestionFormQ" name="question" type="text" class="form-control" rows="10"
                                  required></textarea>
                    </div>
                    <input type="submit" class="btn btn-success btn-send pull-right" value="Send message">

                </form>
            </div>

        </div>
    </div>
</div>
<!-- End of Contact Modal -->

<!--  Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/validator.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/video-popup.js"></script>
<script src="js/jquery.circliful.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.responsiveTabs.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<!--script src="js/retina.min.js"></script-->
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.countdown.js"></script>
<script src="js/custom.js"></script>

<script>
    $(document).on("ready", function (e) {
        var sync1 = $("#mainslider");
        var sync2 = $("#mainslider-nav");
        sync1.owlCarousel({
            singleItem: true,
            slideSpeed: 1000,
            paginationSpeed: 800,
            navigation: false,
            pagination: false,
            autoPlay: 7500,
            afterAction: syncPosition,
            responsiveRefreshRate: 200,
        });
        sync2.owlCarousel({
            items: 4,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [979, 4],
            itemsTablet: [768, 3],
            itemsMobile: [479, 2],
            pagination: false,
            responsiveRefreshRate: 100,
            afterInit: function (el) {
                el.find(".owl-item").eq(0).addClass("synced");
            }
        });

        function syncPosition(el) {
            var current = this.currentItem;
            $("#mainslider-nav").find(".owl-item").removeClass("synced").eq(current).addClass("synced")
            if ($("#mainslider-nav").data("owlCarousel") !== undefined) {
                center(current)
            }
        }

        $("#mainslider-nav").on("click", ".owl-item", function (e) {
            e.preventDefault();
            var number = $(this).data("owlItem");
            sync1.trigger("owl.goTo", number);
        });

        function center(number) {
            var sync2visible = sync2.data("owlCarousel").owl.visibleItems;
            var num = number;
            var found = false;
            for (var i in sync2visible) {
                if (num === sync2visible[i]) {
                    var found = true;
                }
            }
            if (found === false) {
                if (num > sync2visible[sync2visible.length - 1]) {
                    sync2.trigger("owl.goTo", num - sync2visible.length + 2)
                } else {
                    if (num - 1 === -1) {
                        num = 0;
                    }
                    sync2.trigger("owl.goTo", num);
                }
            } else if (num === sync2visible[sync2visible.length - 1]) {
                sync2.trigger("owl.goTo", sync2visible[1])
            } else if (num === sync2visible[0]) {
                sync2.trigger("owl.goTo", num - 1)
            }
        }

        $('#askAQuestionForm').validator();


        $('#askAQuestionModalSubmit').on("click", function (e) {
            e.preventDefault();
            var form = document.getElementById('askAQuestionForm');
            console.log(form.checkValidity())

            var data = {};
            data['email'] = $('#askAQuestionFormEmail').val();
            data['question'] = $('#askAQuestionFormQ').val();
            if (form.checkValidity()) {
                $.post("/api/askAQuestion", JSON.stringify(data), function (data, err) {
                    console.log(data, err);
                });
            }else{
                console.log('Invalid Form')
            }
        })
    });

    $(document).on("ready", function (e) {
        // ______________ TESTIMONIALS
        $("#testimonials-carousel").owlCarousel({
            items: 1,
            autoPlay: 5000,
            itemsDesktop: [1199, 1],
            itemsDesktopSmall: [979, 1],
            itemsTablet: [768, 1]
        });
        // ______________ PRICE TABS
        $('#shared-hosting-price-tabs').responsiveTabs({
            startCollapsed: 'accordion'
        });
        // ______________ FEATURES TABS
        $('#shared-hosting-features-tabs').responsiveTabs({
            startCollapsed: 'accordion'
        });
        // ______________ VIDEOPOPUP
        $("a.autoplay").VideoPopUp();
        $("a.noautoplay").VideoPopUp({
            autoplay: 0
        }); // Disable autoplay

        // ______________ COUNTDOWN
        $("#limited").countdown("2019/08/15", function (event) {
            $(this).text(
                event.strftime('%D Days %H:%M:%S')
            );
        });
        // ______________ PARTNERS
        $("#datacenter-partners").owlCarousel({
            autoPlay: 3000, //Set AutoPlay to 3 seconds
            items: 6,
            itemsDesktop: [1199, 5],
            itemsDesktopSmall: [979, 3],
            pagination: false
        });
        // ______________ PARALLAX
        $('.section-parallax').parallax("50%", 0.4);
        // ______________ STATS
        $('.statistics').waypoint(function () {
            $('#myStat1').circliful();
            $('#myStat2').circliful();
            $('#myStat3').circliful();
            $('#myStat4').circliful();

        }, {
            offset: 800,
            triggerOnce: true
        });
    });
</script>
</body>

</html>