.center {
    margin-top: 50px;
}

.modal-header {
    padding-bottom: 5px;
}

.modal-footer {
    padding: 0;
}

.modal-footer .btn-group button {
    height: 40px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: none;
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

#askAQuestionModal .btn {
    border-radius: 0em;
    border: none;
}

#askAQuestionModal .modal-header {
    background-color: #00a63f;
}

#askAQuestionModal .modal-header h3 {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    padding: 5px;
}

#askAQuestionModal label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

#askAQuestionModal .btn:hover {
    background-color: #00a63f;
    color: #ffffff;
}

#askAQuestionModal .red {
    color:red;
}
#askAQuestionModal .green {
    color:#00a63f;
}
@media only screen and (min-width: 768px)  {
    #askAQuestionModal .btn-right {
        position: absolute;
        right: 20px;
    }
}